CLIENT_IMAGE='<image>'
SERVER_IMAGE='<image>'
HOST_IPV4='<IPv4>'
HOST_IPV6='<IPv6>'
HOST_SERVER_PORT='<port>'
HOST_CLIENT_PORT='<port>'

NODE_ENV='<production|development>'
PUBLIC_URL='<address>'
GENERATE_SOURCEMAP='<true|false>'
REACT_APP_SERVERURL='<address>/api/app'

appName='<name>'
MASTER_KEY='<12-character-key>'
MONGODB_URI='<mongodb-URI>'
PARSE_MOUNT='/app'
SERVER_URL='<address>/api/app'
USE_LOCAL='<true|false>'

SMTP_ENABLE='<true|false>'
SMTP_HOST='<address>'
SMTP_PORT='<port>'
SMTP_USERNAME='<email>'
SMTP_USER_EMAIL='<email>'
SMTP_PASS='<password>'

APP_ID='opensign'
REACT_APP_APPID='opensign'

PFX_BASE64='<base64-pfx>'
PASS_PHRASE='<passphrase>'